* {
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    justify-content: center;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 21%, rgba(186, 15, 187, 1) 50%, rgba(29, 12, 145, 1) 75%);
    background-size: 400%;
    animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {

    0% {
        background-position: top left;
    }

    50% {
        background-position: bottom right;
    }


}

.row {
    clear: both;
}

.container {
    position: absolute;
    width: 1500px;
    height: 80vh;
}

.block-table {
    position: relative;
    display: inline-block;
    width: 700px;
    display: flex;
    flex-wrap: wrap;

}

.item {
    font-size: x-large;
    -webkit-text-stroke: 1px white;
    text-shadow: 0.04em 0.04em 0.08 white;
    ;
    font-weight: 800;
    margin-left: -1px;
    margin-top: -1px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .2);
    padding: 2rems;
    backdrop-filter: blur(5px);

}

.header {
    -webkit-text-stroke: 1px goldenrod;
    text-shadow: 0.04em 0.04em 0.08 goldenrod;
    font-weight: 800;
    margin-left: -1px;
    margin-top: 100px;
    display: inline-block;
    backdrop-filter: blur(5px);
    padding-left: 27px;
    padding-top: 32px;

}

.box {
    position: relative;
    color: white;
    display: block;
    font-size: 1.75rem;
    font-weight: 500;
    float: left;
    padding: 100px;
}

/* .down{
    transform: rotate(225deg); 
} */
.prev-box a {
    position: absolute;
    height: 80px;
    width: 80px;
    margin-left: 30px;
    border-top: 15px solid goldenrod;
    border-left: 15px solid goldenrod;
    transform: rotate(45deg);
    opacity: 0.7;

}

.prev-box {
    padding-top: 100px;
    padding-bottom: 150px;
}

.prev-box a:hover {
    position: absolute;
    height: 90px;
    width: 90px;
    margin-left: 35px;
    border-top: 15px solid goldenrod;
    border-left: 15px solid goldenrod;
    transform: rotate(45deg);
    box-shadow: -10px -10px 10px goldenrod;
}

.next-box a {
    position: absolute;
    margin-left: 30px;
    height: 80px;
    width: 80px;
    border-top: 15px solid goldenrod;
    border-left: 15px solid goldenrod;

    transform: rotate(225deg);
    opacity: 0.7;


}

.next-box a:hover {
    position: absolute;
    margin-left: 35px;
    height: 90px;
    width: 90px;
    border-top: 15px solid goldenrod;
    border-left: 15px solid goldenrod;
    transform: rotate(225deg);
    box-shadow: -10px -10px 10px goldenrod;
}

.next-box {
    padding-top: 100px;
    padding-bottom: 100px;

}