* {
    box-sizing: border-box
}

body {
    animation: bg-animation 20s infinite alternate;
    height: 100vh;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 21%, rgba(186, 15, 187, 1) 50%, rgba(29, 12, 145, 1) 75%);
    background-size: 400%; */
    background-image: url(./img/2077.jpg);
    /* background-color: black; */
    animation: bg-animation 20s infinite alternate;
}

body>img {
    width: 100%;
    height: 100%;
}

@keyframes bg-animation {

    0% {
        background-position: top left;
    }

    50% {
        background-position: bottom right;
    }


}

nav {
    margin-top: 20px;
    margin-bottom: -50px;
    height: 60px;
    width: 100%;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.yearbox>span {
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {

    0%,
    100% {
        color: #fff;
        text-shadow: 0 0 12px lime, 0 0 50px lime, 0 0 100px lime;
    }

    10%,
    90% {
        color: black;
        text-shadow: none;
    }

}

.yearbox>span:nth-child(1) {
    animation-delay: 0.25s;
}

.yearbox>span:nth-child(2) {
    animation-delay: 0.5s;
}

.yearbox>span:nth-child(3) {
    animation-delay: 0.75s;
}

.yearbox>span:nth-child(4) {
    animation-delay: 1s;
}


.container {
    padding-top: 3%;
    width: 100%;
    height: 90vh;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.month-buttonbox a {

    margin-right: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.month-prev-box a {
    position: relative;
    width: 60px;
    height: 60px;
    border-top: 15px solid #05D9FF;
    border-left: 15px solid #05D9FF;
    transform: rotate(45deg);
    filter: drop-shadow(0 0 20px #8FEEFF) drop-shadow(0 0 50px #8FEEFF);
    animation: prev 3s infinite;

}

.month-prev-box :nth-child(3) {

    animation-delay: -0.4s;

}

.month-prev-box :nth-child(2) {

    animation-delay: -0.2s;
}

.month-prev-box :nth-child(4) {
    animation-delay: -0.1s;
}

@keyframes prev {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(0px, 0px);
    }

    0% {
        opacity: 1;

    }

    0% {
        opacity: 0;
        transform: rotate(45deg) translate(50px, 50px);
    }

}

.month-next-box a {
    position: relative;
    width: 60px;
    height: 60px;
    border-top: 15px solid #05D9FF;
    border-left: 15px solid #05D9FF;
    transform: rotate(225deg);
    filter: drop-shadow(0 0 20px #8FEEFF) drop-shadow(0 0 50px #8FEEFF);
    animation: next 3s infinite;

}

.month-next-box :nth-child(3) {

    animation-delay: -0.4s;

}

.month-next-box :nth-child(2) {

    animation-delay: -0.8s;
}

.month-next-box :nth-child(4) {
    animation-delay: -1s;
}

@keyframes next {
    0% {
        opacity: 0;
        transform: rotate(225deg) translate(0px, 0px);
    }

    0% {
        opacity: 1;

    }

    0% {
        opacity: 0;
        transform: rotate(225deg) translate(50px, 50px);
    }

}



.year-buttonbox a {
    margin: auto;
    margin-right: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.year-prev-box a {
    position: relative;
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
    border-top: 15px solid #ff1646;
    border-left: 15px solid #ff1646;
    transform: rotate(45deg);
    filter: drop-shadow(0 0 20px #ff7894) drop-shadow(0 0 50px #ff7894);
    animation: prev 4s infinite;

}

.year-prev-box :nth-child(3) {

    animation-delay: -0.4s;


}

.year-prev-box :nth-child(2) {

    animation-delay: -0.2s;
}

.year-prev-box :nth-child(4) {
    animation-delay: -0.1s;

}


.year-next-box a {
    margin-top: 30px;
    position: relative;
    width: 80px;
    height: 80px;
    border-top: 15px solid #ff1646;
    border-left: 15px solid #ff1646;
    transform: rotate(225deg);
    filter: drop-shadow(0 0 20px #ff7894) drop-shadow(0 0 50px #ff7894);
    animation: next 4s infinite;

}

.year-next-box :nth-child(3) {

    animation-delay: -0.4s;

}

.year-next-box :nth-child(2) {

    animation-delay: -0.8s;
}

.year-next-box :nth-child(4) {
    animation-delay: -1s;
}








.block-table {
    position: relative;
    display: inline-block;
    width: 660px;
    display: flex;
    flex-wrap: wrap;

}

/* .item {
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .2);
    font-size: x-large;
    margin-left: -1px;
    margin-top: -1px;

} */

.item {
    width: 90px;
    height: 90px;
    background-color: #0f0f0f;
    border: 1px solid #22a0b6;
    inset: 1px;
    box-shadow: 0 0 10px #22a0b6;
    transition: all 0.3s ease;
    color: #cb0c59;
    opacity: 0.8;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5em;
}

.item:hover {
    transform: scale(1.1);
    color: #d1f7ff;
    filter: drop-shadow(0 0 20px #d1f7ff) drop-shadow(0 0 50px #d1f7ff);
    border-color: #d1f7ff;

    box-shadow: 0 0 15px #d1f7ff;

}

.header {
    color: #f57371;
    font-size: 2em;
    padding-top: 20px;
}

.header:hover {
    color: #f57371;
    filter: drop-shadow(0 0 20px #f57371) drop-shadow(0 0 50px #f57371);
}

.header-weeken {
    color: #feff6e;

    font-size: 2em;
    padding-top: 20px;
}

.header-weeken:hover {
    color: #feff6e;
    filter: drop-shadow(0 0 20px #feff6e) drop-shadow(0 0 50px #feff6e);
}

.special {
    color: #ff2b2b;
}

.special:hover {
    color: #00ff73;
    filter: drop-shadow(0 0 20px #00ff73) drop-shadow(0 0 50px #00ff73);
    box-shadow: 0 0 15px #00ff73;
}

.textbox {

    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .2); */
    text-align: center;

    width: 20%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* background-color: lightgreen; */
}

.monthname {
    position: relative;
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    color: hsl(323, 21%, 16%);
    border: hsl(317, 100%, 54%) 2px solid;
    background-color: hsl(323, 21%, 16%);
    box-shadow: 0 0 10px white,
        0 0 20px white,
        0 0 40px white,
        0 0 80px white,
        0 0 160px white;
    text-decoration: none;
    /* text-shadow: 0 0 0.125em white; */
    border-radius: 50% 50% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 50%; */
    font-size: 68px;
    white-space: nowrap;
    overflow: hidden;
    animation: flash 2s linear infinite;

}

@keyframes flash {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: hsl(323, 21%, 16%);
        text-shadow: none
    }

    18.1%,
    20.1%,
    30%,
    50%,
    100% {
        color: hsl(317, 100%, 54%);
        ;
        text-shadow: 0 0 10px white,
            0 0 20px white,
            0 0 40px white,
            0 0 80px white,
            0 0 160px white;
    }
}

.monthtextbox {
    margin-top: 25px;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: 0.5s;

}

.monthtextbox:hover {
    transform: translateY(-20px);
}

.monthtextbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #141e30, #2a6c56);
    opacity: 0.5;
}

.monthtextbox::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #141e30, #2a6c56);
    filter: blur(30px);
    opacity: 0.5;
}

.monthtextbox span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    /* width: 100%;
    height: 100%; */
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.monthtextbox span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;


}






.monthtext {
    text-align: start;
    position: relative;
    font-size: large;
    line-height: 50px;
    font-size: 1.5em;
    color: #00ff73;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 4px solid #fff; */
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #00ff73) drop-shadow(0 0 50px #00ff73);
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;

    }
}